# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration (SQL Server)
# Ubah Server dan Database sesuai dengan instance SQL Server lokal Anda
DB_CONNECTION_STRING="Driver={ODBC Driver 17 for SQL Server};Server=Example\\SQL2019;Database=Example;Trusted_Connection=yes;"

# Security Configuration
# Ganti dengan secret key yang aman di production
JWT_SECRET=rahasia_negara_12345
JWT_EXPIRES_IN=1d
