USE [ProspectiveEmployeeBiodata]
GO
/****** Object:  Table [dbo].[biodata]    Script Date: 04/06/2026 20:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[biodata](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[posisi_dilamar] [varchar](100) NULL,
	[nama] [varchar](100) NOT NULL,
	[no_ktp] [varchar](20) NULL,
	[tempat_lahir] [varchar](50) NULL,
	[tanggal_lahir] [date] NULL,
	[jenis_kelamin] [varchar](15) NULL,
	[agama] [varchar](30) NULL,
	[golongan_darah] [varchar](5) NULL,
	[status] [varchar](20) NULL,
	[alamat_ktp] [varchar](max) NULL,
	[alamat_tinggal] [varchar](max) NULL,
	[email] [varchar](100) NULL,
	[no_telp] [varchar](20) NULL,
	[orang_terdekat] [varchar](100) NULL,
	[skill] [varchar](max) NULL,
	[bersedia_ditempatkan] [bit] NOT NULL,
	[penghasilan_diharapkan] [decimal](15, 2) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [biodata_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pekerjaan]    Script Date: 04/06/2026 20:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pekerjaan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[biodata_id] [int] NOT NULL,
	[nama_perusahaan] [varchar](100) NULL,
	[posisi_terakhir] [varchar](100) NULL,
	[pendapatan_terakhir] [decimal](15, 2) NULL,
	[tahun] [int] NULL,
 CONSTRAINT [pekerjaan_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pelatihan]    Script Date: 04/06/2026 20:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pelatihan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[biodata_id] [int] NOT NULL,
	[nama_kursus] [varchar](100) NULL,
	[sertifikat] [varchar](10) NULL,
	[tahun] [int] NULL,
 CONSTRAINT [pelatihan_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pendidikan]    Script Date: 04/06/2026 20:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pendidikan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[biodata_id] [int] NOT NULL,
	[jenjang] [varchar](50) NULL,
	[nama_institusi] [varchar](100) NULL,
	[jurusan] [varchar](100) NULL,
	[tahun_lulus] [int] NULL,
	[ipk] [decimal](4, 2) NULL,
 CONSTRAINT [pendidikan_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 04/06/2026 20:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](10) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [users_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[biodata] ON 

SET IDENTITY_INSERT [dbo].[biodata] OFF
GO
SET IDENTITY_INSERT [dbo].[pekerjaan] ON 

INSERT [dbo].[pekerjaan] ([id], [biodata_id], [nama_perusahaan], [posisi_terakhir], [pendapatan_terakhir], [tahun]) VALUES (5, 4, N'PT. Ternacode Solutions', N'Owner', CAST(111000000000.00 AS Decimal(15, 2)), 2025)
SET IDENTITY_INSERT [dbo].[pekerjaan] OFF
GO
SET IDENTITY_INSERT [dbo].[pelatihan] ON 

INSERT [dbo].[pelatihan] ([id], [biodata_id], [nama_kursus], [sertifikat], [tahun]) VALUES (10, 4, N'Full Stack Enginner', N'ada', 2026)
SET IDENTITY_INSERT [dbo].[pelatihan] OFF
GO
SET IDENTITY_INSERT [dbo].[pendidikan] ON 

INSERT [dbo].[pendidikan] ([id], [biodata_id], [jenjang], [nama_institusi], [jurusan], [tahun_lulus], [ipk]) VALUES (10, 4, N'S3', N'Politeknik Manchaster United', N'Teknik Informatika', 2025, CAST(3.78 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[pendidikan] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [password], [role], [created_at]) VALUES (2, N'admin@biodata.com', N'$2a$10$d356UCyR/TNB84QwPOAg0.RNXxNG4Z9xt6fiBgIMXVOnjadP/cgO2', N'admin', CAST(N'2026-06-04T07:21:15.4390000' AS DateTime2))
INSERT [dbo].[users] ([id], [email], [password], [role], [created_at]) VALUES (4, N'bayu@gmail.com', N'$2a$10$ng8xJfJGW/n.tMrqBr25SedMuM9a8x1Ld9EBbDFfCrEkWFLVL3Gba', N'user', CAST(N'2026-06-04T20:07:45.1933333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [biodata_user_id_key]    Script Date: 04/06/2026 20:37:27 ******/
ALTER TABLE [dbo].[biodata] ADD  CONSTRAINT [biodata_user_id_key] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_biodata_ktp]    Script Date: 04/06/2026 20:37:27 ******/
ALTER TABLE [dbo].[biodata] ADD  CONSTRAINT [UQ_biodata_ktp] UNIQUE NONCLUSTERED 
(
	[no_ktp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_biodata_user]    Script Date: 04/06/2026 20:37:27 ******/
ALTER TABLE [dbo].[biodata] ADD  CONSTRAINT [UQ_biodata_user] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [biodata_nama_idx]    Script Date: 04/06/2026 20:37:27 ******/
CREATE NONCLUSTERED INDEX [biodata_nama_idx] ON [dbo].[biodata]
(
	[nama] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [biodata_posisi_dilamar_idx]    Script Date: 04/06/2026 20:37:27 ******/
CREATE NONCLUSTERED INDEX [biodata_posisi_dilamar_idx] ON [dbo].[biodata]
(
	[posisi_dilamar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_email]    Script Date: 04/06/2026 20:37:27 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [users_email_key]    Script Date: 04/06/2026 20:37:27 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [users_email_key] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[biodata] ADD  CONSTRAINT [biodata_bersedia_ditempatkan_df]  DEFAULT ((0)) FOR [bersedia_ditempatkan]
GO
ALTER TABLE [dbo].[biodata] ADD  CONSTRAINT [DF__biodata__created__2E1BDC42]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [users_role_df]  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__created_a__276EDEB3]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[biodata]  WITH CHECK ADD  CONSTRAINT [biodata_user_id_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[biodata] CHECK CONSTRAINT [biodata_user_id_fkey]
GO
ALTER TABLE [dbo].[pekerjaan]  WITH CHECK ADD  CONSTRAINT [pekerjaan_biodata_id_fkey] FOREIGN KEY([biodata_id])
REFERENCES [dbo].[biodata] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pekerjaan] CHECK CONSTRAINT [pekerjaan_biodata_id_fkey]
GO
ALTER TABLE [dbo].[pelatihan]  WITH CHECK ADD  CONSTRAINT [pelatihan_biodata_id_fkey] FOREIGN KEY([biodata_id])
REFERENCES [dbo].[biodata] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pelatihan] CHECK CONSTRAINT [pelatihan_biodata_id_fkey]
GO
ALTER TABLE [dbo].[pendidikan]  WITH CHECK ADD  CONSTRAINT [pendidikan_biodata_id_fkey] FOREIGN KEY([biodata_id])
REFERENCES [dbo].[biodata] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pendidikan] CHECK CONSTRAINT [pendidikan_biodata_id_fkey]
GO
ALTER TABLE [dbo].[biodata]  WITH CHECK ADD  CONSTRAINT [CK__biodata__jenis_k__2C3393D0] CHECK  (([jenis_kelamin]='Perempuan' OR [jenis_kelamin]='Laki-laki'))
GO
ALTER TABLE [dbo].[biodata] CHECK CONSTRAINT [CK__biodata__jenis_k__2C3393D0]
GO
ALTER TABLE [dbo].[biodata]  WITH CHECK ADD  CONSTRAINT [CK_biodata_penghasilan] CHECK  (([penghasilan_diharapkan]>(0)))
GO
ALTER TABLE [dbo].[biodata] CHECK CONSTRAINT [CK_biodata_penghasilan]
GO
ALTER TABLE [dbo].[pelatihan]  WITH CHECK ADD  CONSTRAINT [CK__pelatihan__serti__35BCFE0A] CHECK  (([sertifikat]='tidak' OR [sertifikat]='ada'))
GO
ALTER TABLE [dbo].[pelatihan] CHECK CONSTRAINT [CK__pelatihan__serti__35BCFE0A]
GO
ALTER TABLE [dbo].[pendidikan]  WITH CHECK ADD  CONSTRAINT [CK_pendidikan_ipk] CHECK  (([ipk]>=(0) AND [ipk]<=(4)))
GO
ALTER TABLE [dbo].[pendidikan] CHECK CONSTRAINT [CK_pendidikan_ipk]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK__users__role__267ABA7A] CHECK  (([role]='user' OR [role]='admin'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK__users__role__267ABA7A]
GO
